@model _11319028.Students.VicktorDesrony.Models.Produk
@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>


@using (Html.BeginForm("Edit",
                        "Admin",
                        FormMethod.Post,
                        new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Produk Information</h4>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.Produk_ID)

        <div class="form-group">
            @Html.LabelFor(model => model.Kategori, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Kategori)
                @Html.ValidationMessageFor(model => model.Kategori)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ImagePath, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input type="file" name="file" id="file" /><br><br>
                @Html.ValidationMessageFor(model => model.ImagePath)
                Current Image :
            <img width="50" height="50" src="~/Assets/Image/@Html.DisplayFor(model => model.ImagePath)" />
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Produk_Name, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Produk_Name)
                @Html.ValidationMessageFor(model => model.Produk_Name)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Stok, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Stok)
                @Html.ValidationMessageFor(model => model.Stok)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Harga, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Harga)
                @Html.ValidationMessageFor(model => model.Harga)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </div>
    </div>}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

